html, body {
	text-align: center;
	padding: 0;
	margin: 0;
}
div.background {
	background: rgba(227,227,227,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(227,227,227,1) 0%, rgba(219,219,219,1) 31%, rgba(209,209,209,1) 58%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(227,227,227,1)), color-stop(31%, rgba(219,219,219,1)), color-stop(58%, rgba(209,209,209,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(227,227,227,1) 0%, rgba(219,219,219,1) 31%, rgba(209,209,209,1) 58%, rgba(255,255,255,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(227,227,227,1) 0%, rgba(219,219,219,1) 31%, rgba(209,209,209,1) 58%, rgba(255,255,255,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(227,227,227,1) 0%, rgba(219,219,219,1) 31%, rgba(209,209,209,1) 58%, rgba(255,255,255,1) 100%);
	background: radial-gradient(ellipse at center, rgba(227,227,227,1) 0%, rgba(219,219,219,1) 31%, rgba(209,209,209,1) 58%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#ffffff', GradientType=1 );
	padding: 0;
	margin: 0;
}
.center {
	width: 75%;
	background-color: green;
	margin-top: 150px;
	text-align: center;
}
.center h1 {
	font-size: 46pt;
}
h3 {
	font-size: 24pt;
	text-align: center;
	color: purple;
}
h2 {
	text-align: center, bottom;
	font-size: 14pt;
}
h4 {
	text-align: center;
	font-size: 40pt;
}
th {
	font-size: 20pt;
	border-bottom: 3px solid black;
	font-style: italic;
}
td {
	font-size: 16pt;
	border: 1px solid black;
}
table {
	border: 3px solid black;
	text-align: center;
}
input[type=submit] {
	width: 5em;
	font-size: 30pt;
	font-weight: bolder;
}
input[type=reset] {
	width: 5em;
	font-size: 30pt;
	font-weight: bolder; 
}
label {
	color: purple;
}